* {
	margin: 0;
	padding: 0;
}
/* Scrollbar-effect------- */
#accordian::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
#accordian::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
#accordian::-webkit-scrollbar-thumb {
    background: #0089ff;
    border-radius: 10px;
    transition: 0.5s;
}
#accordian::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}



/* --------- */
body {
	background: #4EB889;
	font-family: Nunito, arial, verdana;
}

#accordian {
    background-image: linear-gradient(
        99deg
         , #e5e5e6, #ffffff, #f9f6f6, #ffffff);
         	width: 250px;
	padding: 10px;
	float: left;
	height: 100vh;
	overflow-x: hidden;
}


/* #accordian a {



} */


i {
	margin-right: 10px;
}

#accordian li {
	list-style-type: none;
}

#accordian ul li a{
	color: #9c9c9c;
	text-decoration: none;
	font-size: 15px;
	display: block;
/* 	line-height: 34px; */
	padding: 12px 15px;
	transition: all 0.15s;
	position: relative;
	border-radius: 3px;
}

#accordian>ul.show-dropdown>li.active>a,
#accordian>ul>li>ul.show-dropdown>li.active>a,
#accordian>ul>li>ul>li>ul.show-dropdown>li.active>a,
#accordian>ul>li>ul>li>ul>li>ul.show-dropdown>li.active>a,
#accordian>ul>li>ul>li>ul>li>ul>li>ul.show-dropdown>li.active>a{
	background-color: #a8d4fb;
    color: #0089ff;
    box-shadow: 0px 1px 2px rgba(0, 137, 255, 0.2);
}

#accordian>ul>li>ul,
#accordian>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul>li>ul {
	display: none;
}


#accordian>ul>li.active>ul.show-dropdown,
#accordian>ul>li>ul>li.active>ul.show-dropdown,
#accordian>ul>li>ul>li>ul>li.active>ul.show-dropdown,
#accordian>ul>li>ul>li>ul>li>ul>li.active>ul.show-dropdown {
	display: block;
}

#accordian>ul>li>ul,
#accordian>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul,
#accordian>ul>li>ul>li>ul>li>ul>li>ul {
	padding-left: 20px;
}

#accordian a:not(:only-child):after {
	content: "\f105";
    position: absolute;
    right: 20px;
    top: 14px;
    font-size: 15px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#accordian .active>a:not(:only-child):after {
		transform: rotate(90deg);
}
.answer {
    width: 77%;
    background-color: #9bc4af;
    text-align: center;
    direction: rtl;
    margin: auto;
    padding: 25px 0px;
    display: inline-block !important;

}

.edit-questions{
    width: 77%;
    float: right;
    text-align: center;
}
/* .edit-questions input select {
   min-width: 350px !important;
} */
.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    width: 50%;
    height: 50%;
    left: 25%;
}

.popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    text-align: center;
}

.popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
}

.popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
}


.advance-option
{
    cursor: pointer;
    color: #EEE;
    /* float: left; */
    margin: 30px 0;
    width: 80%;
    text-align: left;
    border: 1px solid #777;
    border-radius: 8px;
    padding: 5px 15px;
}
.advance-option h3 {
    display: inline-block;
}

.advance-option img {
    float: right;
}
.attributes {
    padding: 15px 15px;

}
.attributes input{
    width: 70%;
}
